/* general styling */
*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

html {
    scroll-behavior: smooth;
}

p {
    color: rgb(85,85,85)
}

/* desktop nav */

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 15vh;
}

.nav-links{
    display:flex;
    gap: 2rem;
    font-size: 1.25rem;
}

a {
    color:black;
    text-decoration: none;
}

a:hover{
    color: grey;
    text-decoration: underline;
    text-underline-offset: 0.5rem;
    text-decoration-color: grey;
}

.logo{
   font-size: 1.5rem; 
}

/* turn logo into cv link? */