/* general styling */
*{
    font-family: "Poppins", sans-serif;
    
}

html {
    scroll-behavior: smooth;
}

p {
    color: rgb(85,85,85)
}

/* desktop nav */

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 15vh;
}

.nav-links{
    display:flex;
    gap: 2rem;
    font-size: 1.25rem;
}

a {
    color:black;
    text-decoration: none;
}

a:hover{
    color: grey;
    text-decoration: underline;
    text-underline-offset: 0.5rem;
    text-decoration-color: grey;
}

.logo{
   font-size: 1.5rem; 
}

/* mobile menu */

#mobile-nav {
    display: none;
}

.mobile-menu {
    position: relative;
    display: inline-block;
}

.menu-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
    cursor: pointer;
}

.menu-icon span {
    width: 100%;
    height: 2px;
    background-color: black;
}

.menu-links {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: white;
    width: fit-content;
    max-height: 0;
    overflow: hidden;

}

.menu-links a {
    display: block;
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
    color: black;
    text-decoration: none;
}

.menu-links {
    list-style: none;
}

.menu-links.open {
    max-height: 300px;
    max-width: 600px;
}

/* create x for mobile menu  */

/* turn logo into cv link? */

/* profile section */

#profile {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    height: 20vh;
}

.profile-pic-container {
    display: flex;
    padding-top: 120px;

}

img {
    display: flex;
    height: 300px;
    width: 300px;
    border-radius: 50%;   
}

.profile-text {
    display: flex;
    flex-direction: column;
    text-align: center;   
}

.profile-text-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 5rem;
    
}

.profile-text-2 {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.button-1 {
    margin-top: 10px;
    border-radius: 1rem;
    border: rgb(45, 45, 45) solid 5px;
    display: flex;
    align-items: center;
   justify-content: center;
    background: white;
    color: rgb(45, 45, 45);
    font-weight: 600;
    padding: 10px;
    margin-left: 17px;
}

.button-1:hover{
    background: rgb(45, 45, 45);
    color: white;
    cursor: pointer;
}

/* about section */

#about {
    justify-content: center;
    margin-top: 10rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

/* contact section */

.contact {
    padding: 2rem;
}

.socials {
    font-size: 2rem;
    display: flex;
    gap: 20px;
    justify-content: space-around;
    max-width: 300px; 
}

/* portfolio section */

#projects {
    margin-top: 2rem;
}

.projects-title {
    padding-left: 2rem;
}
.portfolio {
    display:grid;
    grid-template-columns: auto auto auto;
    justify-content: space-evenly;
    margin-left: 2rem;
    margin-right: 2rem;
}

h2{
    display: flex;
    justify-content: space-around;
}

.project-2{
    border: 0.1rem solid rgb(155, 153, 153);
    border-radius: 20px;
    padding: 2rem;
}

.project-text{
    display: flex;
    justify-content: center;
    text-align: center;
}

.skills{
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.p-links{
    display:flex;
    justify-content: space-evenly;
}

/*turn pictures into clicks? */

/* footer */

.footer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-top: 0.1rem solid rgb(155, 153, 153);
    margin: 0 1rem;
}

/* media queries */

/* nav menu */

@media screen and (max-width: 1200px) {
    #desktop-nav {
        display:none;
    }
    #mobile-nav {
        display: flex;
    }

    h1 {
        text-align: center;
    }
    /* profile section */
    #profile {
        display: flex;
        flex-direction: column;
        height: 80vh;
        gap: 5rem;
    }

    .profile-pic-container {
        margin-top: 0px;
    }

    .profile-text {
        padding-top: 0;
    }

    /* about section */

    .about-container {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: fit-content;
    }

    /* projects section */

    .portfolio {
        display: flex;
        flex-direction: column;   
    }

    .project-2 {
        display: flex;
        flex-direction: column;
        align-items: center; 
        margin: 1rem;    
    }

    .p-links {
        justify-content: space-around;
        gap: 1rem;
    }

    /* contact section */

    .contact {
        justify-content: center;
        text-align: center;
    }

    .contact-info-container {
        display: flex;
        justify-content: center;
    }
    
}

 /* footer */
@media screen and (max-width: 900px) {
    .footer {
        flex-direction: column;
    }

    .nav-links {
        flex-direction: column;
    }

}

/* images on small screens */

@media screen and (max-width: 500px) {
    img {
        max-width: 70%;
        max-height: 70%;
    }

    .profile-pic-container {
        justify-content: center;
    }

}
    