/* general styling */
*{
    font-family: "Poppins", sans-serif;
    
}

html {
    scroll-behavior: smooth;
}

p {
    color: rgb(85,85,85)
}

/* desktop nav */

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 15vh;
}

.nav-links{
    display:flex;
    gap: 2rem;
    font-size: 1.25rem;
}

a {
    color:black;
    text-decoration: none;
}

a:hover{
    color: grey;
    text-decoration: underline;
    text-underline-offset: 0.5rem;
    text-decoration-color: grey;
}

.logo{
   font-size: 1.5rem; 
}

/* turn logo into cv link? */

/* profile section */

#profile {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    height: 20vh;
}

.profile-pic-container {
    display: flex;
    padding-top: 120px;

}

img {
    display: flex;
    height: 300px;
    width: 300px;
    border-radius: 50%;   
}

.profile-text {
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}

.button-1 {
    margin-top: 10px;
    border-radius: 1rem;
    border: black solid 5px;
    display: flex;
    align-items: center;
    background: white;
    color: black;
    font-weight: 600;
    padding: 10px;
    margin-left: 17px;
}

.button-1:hover{
    background: black;
    color: white;
    cursor: pointer;
}

/* about section */

#about {
    justify-content: center;
    margin-top: 10rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

/* contact section */

.contact {
    padding-left: 2rem;
    padding-right: 2rem;
}

.socials {
    font-size: 2rem;
    display: flex;
    gap: 20px;
    justify-content: space-around;
    max-width: 300px; 
}

/* portfolio section */

.projects-title {
    padding-left: 2rem;
}
.portfolio {
    display:grid;
    grid-template-columns: auto auto auto;
    justify-content: space-evenly;
    border: 0.5rem solid grey;
    border-radius: 20px;
    margin-left: 2rem;
    margin-right: 2rem;
}

h2{
    display: flex;
    justify-content: space-around;
}

.project-text{
    display: flex;
    justify-content: center;
}

.skills{
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.p-links{
    display:flex;
    justify-content: space-evenly;
}

/*turn pictures into clicks */
